.card {
  display: flex; /* Make the card a flex container */
  flex-direction: column; /* Stack children vertically */
  padding: 2em; /* Maintain padding */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.card-title {
  font-size: 1.1em;
}

.unit h2 {
  text-align: right;
  font-size: small;
}

.analytic h2 {
  text-align: center;
  margin-top: 0.5em;
}

.announcements {
  max-height: 15em;
  overflow-y: auto;
}

.announcement {
  display: flex;
  flex-direction: column; 
  width: 100%;
}

.dark .announcement {
  background-color: hsl(20 14.3% 6.1%);
  color: hsl(0, 0%, 93%);
}

/* Apply styles to textarea in dark mode, including when it is focused */
.dark textarea, .dark textarea:focus {
  background-color: hsl(20 14.3% 6.1%); /* Dark mode background color */
  color: hsl(0, 0%, 93%); /* Text color */
  border-color: hsl(20 14.3% 10.1%); /* Adjust border color as needed */
}

/* Optional: Adjust the placeholder text color in dark mode */
.dark textarea::placeholder {
  color: hsl(0, 0%, 75%); /* Lighter text color for placeholder */
  opacity: 1; /* Ensure full opacity */
}

.dark .card {
  background-color: hsl(20 14.3% 6.1%);
  color: hsl(0, 0%, 93%);
}

.dark textarea {
  background-color: hsl(20 14.3% 6.1%);
  color: hsl(0, 0%, 93%);
}