.card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  box-sizing: border-box;
}

.card-title {
  font-size: 1.1em;
}

.unit h2 {
  text-align: right;
  font-size: small;
}

.analytic h2 {
  text-align: center;
  margin-top: 0.5em;
}

.announcements {
  max-height: 15em;
  overflow-y: auto;
}

.announcement {
  display: flex;
  flex-direction: column; 
  width: 100%;
}

.dark .announcement {
  background-color: hsl(20 14.3% 6.1%);
  color: hsl(0, 0%, 93%);
}

.dark textarea, .dark textarea:focus {
  background-color: hsl(20 14.3% 6.1%);
  color: hsl(0, 0%, 93%);
  border-color: hsl(20 14.3% 10.1%);
}

.dark textarea::placeholder {
  color: hsl(0, 0%, 75%);
  opacity: 1;
}

.dark textarea {
  background-color: hsl(20 14.3% 6.1%);
  color: hsl(0, 0%, 93%);
}