#community-topics-header-body {
    margin: auto;
    width: 100%; /*  */
    margin-top: 60px;
    margin-bottom: 0px;
    padding-bottom: 0;
    background-color: #f9f9f9;
    border-radius: 15px;
    border: solid 0.05em hsl(12 6.5% 15.1%);
    border-color: rgb(209, 209, 209);
}

#forum-body-under-header {
    margin: auto;
    width: 100%; /*  */
    margin-top: 20px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
    border: solid 0.05em hsl(12 6.5% 15.1%);
    border-color: rgb(209, 209, 209);
}

.community-topics-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    width: 95%;
    padding: 0.75em 0.1em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #f9f9f9;
}

#right-community-column {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;   
    background-color: #f9f9f9;
    border-radius: 15px;
    border: solid 0.05em hsl(12 6.5% 15.1%);
    border-color: rgb(209, 209, 209);
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    padding: 0;
}

.dark #right-community-column {
    border: solid 0.05em hsl(12 6.5% 15.1%);
    background-color: hsl(20 14.3% 6.1%);
}

#right-column-community-placeholder {
    border: none;
}

.community-column-section {
    padding: 1em;
}

.dark #community-topics-header-body {
    background-color: hsl(20 14.3% 6.1%);
    border-color: hsl(20, 14.3%, 10.1%);
}

.dark .community-topics-header {
    background-color: hsl(20 14.3% 6.1%);
    color: hsl(0, 0%, 94%); /* Light text for readability */
}

.dark .community-banner {
    color: hsl(0, 0%, 94%);
}

.dark .community-topics-header p {
    color: hsl(0, 0%, 94%);
}
