.text-center {
  text-align: center;
}

.form-heading-text {
  text-align: center;
  color: black;
  margin-bottom: .5em;
  font-weight: 700;
}

.dark .form-heading-text {
  color: rgb(249, 249, 249);
}

.create-account-form {
  width: 40%;
  padding: 2em;
  border-radius: 10px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}