footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3em;
  border-top: 1px solid #ffffff;
}

.dark footer {
  border-top: 1px solid #131313;
}

.col-12 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.footer-links a {
  color: rgb(89, 89, 89);
}

.dark .footer-links a {
  color: hsl(60 9.1% 80%);
}

footer a {
  text-decoration: none;
}

.footer-content p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.dark .footer-content p {
  color: hsl(60 9.1% 80%);
}

.footer-content p:last-child {
  margin-bottom: 0;
}

/* Indirect spacing override */
.footer-content, .footer-links {
  flex-grow: 1;
  margin-right: -35em;
}

/* We want to keep the links on the bottom right unaffected by the spacing reduction*/
.footer-content:last-child, .footer-links:last-child {
  margin-right: 0;
}
