.create-account-form {
  width: 30%;
  padding: 2em;
  background-color: hsl(0, 0%, 93%);
  border-radius: 10px;
}

.text-icon-wrapper a {
  text-decoration: none; /* Removes underline from the link */
}

.no-account-text {
  margin-bottom: 0; /* Reduce or remove the bottom margin */
}

.text-icon-wrapper {
  margin-top: 0; /* Reduce or remove the top margin */
}
