.profile-picture-large {
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px; 
    min-width: 150px;
    height: 150px; 
    border-radius: 50%; 
    overflow: hidden;
    border: black 5px solid;
    margin-left: 1em;
    margin-right: 1em;
}

.dark .profile-picture-large {
    border: hsl(0, 0%, 0%) 5px solid;
}

.profile-picture-large:hover {
    filter: brightness(50%);
    cursor: pointer;
}

.profile-picture-small {
    width: 15px;
    min-width: 15px;
    height: 15px; 
    border-radius: 50%; 
    overflow: hidden; 
}

.profile-picture-large img, .profile-picture-small img {
    width: 100%; 
    height: auto; 
    display: block;
}