.card {
  padding: 2em;
}

.card-title {
  font-size: 1.1em;
}

.unit h2 {
  text-align: right;
  font-size: small;
}

.analytic h2 {
  text-align: center;
  margin-top: 0.5em;
}

#announcementContent {
  min-height: 7em; /* Minimum text box height */
}

.right-align {
  text-align: right;
}

.announcement {
  height: 2em;
}

.bullet-point::before {
  content: '\2022'; /* Unicode character for a bullet point */
  color: black;
  font-size: 1em;
  margin: 0 0.5em; /* Space around the bullet -- 0 implies no top and bottom margins, then 0.5em left and right margins */
  display: inline-block;
}
