.grid-container {
  display: grid;
  column-gap: 2em;
}

.navbar {
  display: flex;
  font-family: 'Inter', sans-serif;
  align-items: center;
  padding: 1em;
  justify-content: space-between;
}

/* Using a flex box */
.navbar-left,
.navbar-center,
.navbar-right {
  flex: 1; /* All containers take equal space */
}

.navbar-center {
  flex: 1; /* Take up the remaining space */
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
}

.search-bar {
  display: flex;
  width: 100% /* Take up the full container width */
}

.search-bar .form-control {
  width: 100%; /* Stretching the input field for the form, given by Bootstrap's form-control */
}

.header {
  border-bottom: 0.05em solid rgb(175, 175, 175);
  width: calc(100% - 2em); /* The width of the border */
  position: relative; /* Positions the pseudo-element */
  left: 1em; /* Left padding */
  right: 1em; /* Right padding */
  bottom: 0; /* Aligns to the bottom of the navbar */
}

.navbar-box { /* Treating each element as a box */
  text-decoration: none; /* No underline */
  color: black; /* No highlight */
  padding: 0.5em; /* Create a box-like highlight */
  display: inline-block; /* Allows padding to be applied properly */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.nav-logo {
  text-decoration: none; /* No underline */
  color: black; /* No highlight */
  font-size: 1.1rem;
  color: #1b1b1b;
  font-weight: 400;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-box:hover, .navbar-box:focus {
  background-color: rgb(244, 243, 243);
}

.navbar .word {
  display: inline-block;
  word-spacing: normal;
}

#form {
  display: inline-block; /* Aligns the form with the links */
}

#nav-search {
  padding: 0.3em;
  border-radius: 50px;
  background-color: rgb(227, 227, 227);
}