.grid-container {
  display: grid;
  column-gap: 2em;
}

.navbar {
  background-color: #f9f9f9;
  display: flex;
  font-family: 'Inter', sans-serif;
  align-items: center;
  padding: 1em;
  justify-content: space-between;
}

/* Using a flex box */
.navbar-left,
.navbar-center,
.navbar-right {
  flex: 1; /* All containers take equal space */
}

.navbar-center {
  flex: 1; /* Take up the remaining space */
}

.navbar-right {
  display: flex;
  padding-right: 1em;
  justify-content: flex-end;
}

.navbar-left {
  display: flex;
  padding-left: 1em;
  justify-content: flex-start;
}

.search-bar {
  display: flex;
  width: 100% /* Take up the full container width */
}

.search-bar .form-control {
  width: 100%; /* Stretching the input field for the form, given by Bootstrap's form-control */
}

.header {
  border-bottom: 0.05em solid rgb(209, 209, 209);
  position: relative; /* Positions the pseudo-element */
  left: 0px; /* Left padding */
  right: 1px; /* Right padding */
  bottom: 0; /* Aligns to the bottom of the navbar */
}

.primary-button { /* Treating each element as a box */
  padding: 0.5em; /* Create a box-like highlight */
  display: inline-block; /* Allows padding to be applied properly */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for background color */
  outline: none;
  border: none;
  background-color: white;
}

.navbar-right button {
  margin-right: 10px; /* Add margin between all buttons */
}

/* Remove margin from last button to prevent excess spacing */
.navbar-right button:last-child {
  margin-right: 0;
}

.nav-logo {
  text-decoration: none; /* No underline */
  font-size: 1.1rem;
  color: #1b1b1b;
  font-weight: 400;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-button:hover, .primary-button:focus {
  background-color: rgb(244, 243, 243);
}

.navbar .word {
  display: inline-block;
  word-spacing: normal;
}

#form {
  display: inline-block; /* Aligns the form with the links */
}

#nav-search {
  padding: 0.3em;
  border-radius: 50px;
  background-color: rgb(227, 227, 227);
}

body.dark {
  background-color: hsl(20, 14%, 4%); /* Dark background for body */
  color: white; /* Light text for body */
}

body.dark .navbar, body.dark .header, body.dark .footer {
  background-color: hsl(20 14.3% 4.1%); /* Darker background for navbar, header, footer */
}

body.dark a {
  color: hsl(60 9.1% 97.8%);
}

body.dark .primary-button {
  background-color: hsl(12 6.5% 15.1%);
  color: hsl(60 9.1% 97.8);
}

body.dark a {
  background-color: hsl(20 14.3% 4.1%);
}

body.dark .header {
  border-bottom: 0.05em solid hsl(12 6.5% 15.1%);
}

body.dark .search-bar { /* Targeting the input element */
  background-color: hsl(12, 6.5%, 15.1%); /* Corrected HSL syntax */
  color: hsl(60 9.1% 97.8%);
  border-color: hsl(12 6.5% 15.1%);
}

body.dark .search-bar::placeholder {
  color: hsl(60 9.1% 97.8%);
}

/* Forum */
#forum-body {
  margin: auto;
  width: 70%; /*  */
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 0;
  background-color: #f9f9f9;
  border-radius: 15px;
  border: solid 0.05em hsl(12 6.5% 15.1%);
  border-color: rgb(209, 209, 209);
}

.threadview-category {
  margin: auto;
  width: 95%;
  padding-top: 0.5em;
  /* padding-bottom: 0.1em; */
  padding-left: 0.1em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: solid 0.05em rgb(21, 21, 21);
}

.post-container {
  margin: auto;
  width: 95%;
  margin-top: 0.1em;
  padding: 1em 1em 1em 1em;
  border-bottom: solid 0.05em rgb(209, 209, 209);
  transition: background-color 0.3s;
}
.post-container:hover {
  background-color: rgb(244, 243, 243);
}

.post-title {
  width: fit-content;
  margin: 0%;
  padding: 0%;
  padding-right: 0em;
  color: #1b1b1b;
  text-decoration: none;
}
.post-title:hover {
  text-decoration: underline;
}
.post-author, .post-datetime {
  display: inline-block;
  font-style: italic;
  font-size: 80%;
}
.post-author {
  margin-left: 0.1em;
}

.load-posts {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  padding: 1em 0em 1em 0em;
  color: #1b1b1b;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 15px;
}
.load-posts:hover {
  background-color: rgb(244, 243, 243);
}

/* Forum Dark Mode */
body.dark .threadview, body.dark .load-posts {
  background-color: hsl(20 14.3% 4.1%); /* Darker background for navbar, header, footer */
}  