<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <title>MyDiscussionForum</title>
    </head>
    <body>
    
    <section id="community-topics-header-body">
        <div class="community-topics-header">
            <h2 class="community-banner"><strong></strong></h2>
            <!-- <p>xx Members &#x2022; xx Online </p> -->
        </div>
    </section>

    </body>
</html>