<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <title>MyDiscussionForum</title>
  </head>
  <body>
 
    <section id="forum-body">
        <div class="threadview">
          <h2 class="threadview-category"><strong>Recent Posts</strong></h2>
          
          <!-- Recent Posts are loaded here -->

        </div>
  
        <div class="threadview-more">
          <p class="load-posts">Load More</p>
        </div>
      </section>

  <script src="js/recentPosts.js"></script>
</body>
</html>